* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    -webkit-scrollbar: none;
}

main {
    height: 100%;
    width: 100%;
}

#reels {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: auto;
    position: absolute;
    height: 95vh;
    width: 32em;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 2%;
    transform: translate(-50%);
}

#reels::-webkit-scrollbar {
    display: none;
}

.reel_cont {
    position: relative;
    height: 95.2vh;
    width: 31em;
    display: flex;
}

.reel {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    min-height: 95vh;
    width: 26em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 12, 12);

    >video {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.sound_btn {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 1em;
    padding: 0.35em;
    border-radius: 5em;
    background-color: rgb(59, 59, 59);
    color: rgb(233, 233, 233);

    i {
        pointer-events: none;
    }

}



.reactions_div {
    position: absolute;
    right: 5%;
    bottom: -53%;
    color: white;
    height: 95vh;

    div {
        margin-bottom: 1.6em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.3em;

        i {
            font-size: 1.9em;
            pointer-events: none;
        }

        p {
            font-size: 0.9em;
            pointer-events: none;
        }
    }
}

.reel_disc_overlay {
    background: linear-gradient(transparent, rgb(0, 0, 0));
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0%;
}

.reel_disc {
    color: white;
    width: 100%;
    font-size: 1.15em;
    position: absolute;
    left: 4%;
    bottom: 5.5%;

    div {
        display: flex;
        align-items: center;
        gap: 0.6em;
    }

    .caption {
        display: block;
    }

}

.user_profile {
    margin-bottom: 0.8em;

    img {
        height: 2.4em;
        width: 2.4em;
        border-radius: 3em;
        object-fit: cover;
    }

    h4 {
        font-size: 0.9em;
        margin-top: 3px;
    }

    button {
        background-color: transparent;
        color: white;
        font-weight: 600;
        border-radius: 0.3em;
        border: none;
        box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.146);
        padding: 0.34em;
        margin-top: 5px;
    }
}


.caption {
    color: rgba(255, 255, 255, 0.943);
    font-size: 0.7em;

    div {
        color: rgb(197, 197, 197);

        i {
            margin-top: 6px;
            margin-right: -5px;
        }
    }
}


.liked {
    color: red;
}