* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.story_overlay{
  position: absolute;
  visibility: hidden;
  height:95vh;
  width:10em;
  display: flex;
  justify-content: center;
  left:50%;
  top:2%;
  transform: translate(-50%);
  background-color: aliceblue;
  background-position: center;
  background-size: cover;
  z-index:11;
  box-shadow: inset 0 0 20px rgb(0, 0, 0);
}

.timelap_outer{
  height: 0.05em;
  width:94%;
  position: absolute;
  top:1.5%;
  border-radius: 1em;
  background-color: rgb(180, 180, 180);
}

.timelap_inner{
  height: 100%;
  width:0%;
  transition: all ease 0.15s;
  border-radius: 1em;
  background-color: rgb(255, 255, 255);
}


main {
  font-size: 2.6vw;
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

#stories{
  height: 2.5em;
  width:10em;
  gap:0.3em;
  display: flex;
  align-items: center;
}

.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.75em;
  width:1.7em;
  border-radius: 4em;
  background-image:url(https://tse4.mm.bing.net/th/id/OIP.aIIHiJRh3E0jIB3b-lgl6gHaFM?pid=Api&P=0&h=220);
  background-size: cover;
}

#stories .profile:nth-child(1) .story_overlay{
  background-image: url(https://i.pinimg.com/1200x/f3/41/11/f34111f708b32c4470191fdf7f65f6a4.jpg);
}

#stories .profile:nth-child(2) .story_overlay{
  background-image: url(https://i.pinimg.com/736x/b5/61/c4/b561c4ca294b7397cf48828f872a9402.jpg);
}

#stories .profile:nth-child(3) .story_overlay{
  background-image: url(https://i.pinimg.com/1200x/5f/d3/16/5fd31681f9129d1bedca5af4b50fefea.jpg);
}

#stories .profile:nth-child(4) .story_overlay{
  background-image: url(https://i.pinimg.com/736x/77/25/85/77258548b3ddf8b9514c620d211ddfde.jpg);
}

.profile img{
  width: 1.58em;
  height: 1.6em;
  border-radius: 4em;
  background-image: url(https://yt3.googleusercontent.com/Da4zbrS4XLxzb3xVNT14aKr22aBg1blJCuCBppbYglO_uDmElYopgoDk7XV6UWNxthI96XOYrw=s160-c-k-c0x00ffffff-no-rj);
  background-size: cover;
  background-position: center;
}

#post_div {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#like_overlay {
  position: absolute;
  top: 40%;
  left: 42%;
  font-size: 2em;
  background-image: url(https://static.vecteezy.com/system/resources/previews/002/486/289/original/gradient-background-instagram-free-vector.jpg);
  background-size: cover;
  background-position: left;
  filter: contrast(1.7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: 0.35s;
}

#post_cont {
  overflow: hidden;
  position: relative;
}

#post {
  height: 10em;
}

#post_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.2em;
}
#post_top h4 {
  font-size: 0.3em;
  margin-right: 0.4em;
}
#post_top p {
  font-size: 0.3em;
}

#top_left {
  display: flex;
  gap: 0.3em;
  align-items: center;
}

#top_left div:nth-child(1) {
  display: flex;
}

#follow_indi {
  font-size: 0.28em;
  color: crimson;
  font-weight: 600;
  margin-top: 0em;
}


#profile {
  height: 1em;
  border-radius: 5em;
}

#verified_mark {
  height: 0.35em;
}

#top_right {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

#top_right button {
  font-size: 0.3em;
  border: none;
  background-color: #4A5DF9;
  color: white;
  font-weight: 600;
  padding: 0.6em 0.7em;
  border-radius: 0.5em;
  cursor: pointer;
}

#top_right #follow_btn:active{
    opacity: 0.8;
}

#top_right i {
  font-size: 0.5em;
  color: black;
}

#post_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.2em;
}
#post_bottom div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
}
#post_bottom > div:nth-child(2) {
  font-size: 0.6em;
}

#bottom_left div {
  gap: 0.01em;
  margin-right: 0.5em;
}
#bottom_left div p {
  font-size: 0.69em;
}/*# sourceMappingURL=style.css.map */